{%extends 'base.html'%}
{%include 'navbar.html'%}
{%block body%}

{% for product in products %}
  <div class="row d-inline-block m-3">
    <div class="card mt-5" style="width: 15rem;">
      <div class="card-image" >
        <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap" style="width:14rem ;height: 12rem;border-radius: 10px;">
      </div>
      <hr>
      <div class="card-body" style="color: #e16533;">
        <h5 class="card-title">{{product.product_name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">{{product.price}} </p>
        <a href="#" class="btn btn-outline-success">Add to Cart</a>
      </div>
    </div>
  </div>
{% endfor %}

{%endblock%}